* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

:root {
    --maincolor: rgb(121,69,242);
    --secondbgcolor: rgb(20, 3, 61);
    --bgcolor: #100011;
    --textcolor: #fff;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.navbar-solid {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 1rem var(--maincolor);
}

.navbar a {
    font-weight: 700;
}

.button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--maincolor);
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--maincolor);
    font-size: 1rem;
    color: var(--textcolor);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.button:hover {
    background: var(--secondbgcolor);
    color: var(--maincolor);
}

.home {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    background: linear-gradient(0deg, rgb(299,299,299) 20%, rgb(121,69,242, 0.6) 100%);
}

.home-img img{
    width: 500px;
    height: auto;
}

.home-text h5, .home-text h1, .home-text p {
    color: black;
}

.pengertian {
    position: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgb(299,299,299) 20%, rgb(121,69,242, 0.6) 100%);
}

#menu-icons {
    font-size: 3.6rem;
    color: var(--textcolor);
    padding-top: 2rem;
}

.manfaat {
    position: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,rgb(299,299,299) 20%, rgb(121,69,242, 0.6) 100%);

}
.header {
    padding-bottom: 1rem;
}

.header h2 {
    font-weight: 700;
}

.card-img-top {
    justify-content: center;
}

.card {
    background: linear-gradient(130deg,rgb(123,77,235), rgb(156, 135, 219));
    box-shadow: 0 0 1rem var(--maincolor);
    border-radius: 1.5rem;
    transition: .5s ease;
}

.card-body h5, .card-body p {
    color: var(--textcolor);
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card:hover {
    border-color: var(--secondbgcolor);
    transform: scale(1.02);
}

.img {
    border-radius: 1.5rem;
    padding: .5rem;
}

.footer {
    background-color: rgba(123,77,235,0.7);
    min-width: 100wh;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem var(--maincolor);

}

.top-footer {
    display: flex;
    margin-top: 1.5rem;
    gap: 5rem;
}

.contact-us {
    display: grid;
}

.bottom-footer {
    margin-top: 2rem;
}

.logo-medsos a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: rgba(123,77,235,0.7);
    border-radius: 50%;
    font-size: 2rem;
    margin: 0 1.5rem 0 0;
    transition: .5s ease;
}

.logo-medsos a:hover{
    transform: scale(1.05);
}

.contact-us a, .contact-us h4 {
    color: var(--textcolor);
}

.medsos h4, .logo-medsos, .logo-medsos a {
    color: var(--textcolor);
}

.bottom-footer p{
    color: var(--textcolor);
}

.contact {
    background-color: rgba(123,77,235,0.3);
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--textcolor);
    background: rgba(123,77,235,0.7);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact h2{
    text-align: center;
    font-size: 2.5rem;
}
.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .button {
    margin-top: 2rem;
    cursor: pointer;
}

.heading {
    font-weight: 700;
}

span {
    color: rgba(123,77,235,0.7);
}

.input-box input, form textarea {
    color: var(--textcolor);
    transition: .5s ease;
}

.input-box input:hover, form textarea:hover{
    transform: scale(1.03);
}

@media (max-width:550px) {
    .home-img img{
        display: none;
    }

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
